* {
	margin: 0px;
    padding: 0px;
}
h1 {
	text-align: center;
}

h2 {
    text-align: left;
	margin-left: 80px;
	margin-top: 20px;
    font-size: 40px;
    
}

h3 {
    margin-top: 20px;
    margin-left: 80px;
    margin-bottom: 20px;
    text-decoration: overline;
}

body {
	background: url(kiten.jpg) no-repeat center center;
	background-size: cover;
    font-family: Georgia, Helvetica, sans-serif;
	background-attachment: fixed;
}

.therest {
    background: url(zee.jpg) no-repeat center center;
    background-size: cover;
    font-family: Georgia, Helvetica, sans-serif;
	background-attachment: fixed;
}

nav {
    list-style-type: none;
	position: fixed;
	top: 0;
    background-color: black;
	width: 100%;
}

.current {
    background-color: rgb(127, 183, 240);
}
li {
	float: right;
}

li a {
    display: block;
    color: White;
	font-size: 18px;
    padding: 20px 25px;
    text-decoration: none;
}

li a:hover {
    background-color: rgba(127, 183, 240, 0.5);
}

#content {
    margin-left: 100px;
    margin-right: 100px;
	border: 20px solid rgb(64, 72, 73);
	overflow: hidden;
	position: relative;
	top: 575px;
	height: 100%;
	background-color: rgba(127, 183, 240, 0.9);
	z-index: -1;
}

#content2 {
    margin-left: 100px;
    margin-right: 100px;
	border: 20px solid rgb(64, 72, 73);
	overflow: hidden;
	position: relative;
	top: 320px;
	height: 100%;
	background-color: rgb(127, 183, 240);
	z-index: -1;
}

#welkom {
	max-width: 50%;
	text-align: center;
	margin: 0 auto;
}

.opdrinfo {
	width: 50%;
    text-align: center;
    float: right;
    margin-right: 50px;
    margin-top: 70px;
}


.button {
  font-family: Georgia, Helvetica, sans-serif;
  font-size: 12px;
  text-decoration: none;
  background-color: rgb(64, 72, 73);
  color: white;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.hello {
	padding-top: 5px;
	font-size: 50px;
    color: 
}

.opdrachten {
	float: left;
	border-bottom: 20px solid rgb(64, 72, 73);
	width: 1309px;
}

.afbeeldingen {
	display: block;
    width: 200px;
    height: 200px;
	margin-left: 80px;
    margin-bottom: 100px;
}

.arrow {
    width: 20px;
    margin-left: 5px;
    margin-top: 5px;
}

.title {
    width: 100%;
    padding-bottom: 5px;
    text-align: right;
    color: white;
    background-color: rgb(64, 72, 73);
    font-family: 40px Georgia, Helvetica, sans-serif;
}